<div id="b2" ng-controller="BigOController as bigo">
  <div class="behindJumbo">
    <div class = "row">
      <center><h1>The Big O Quiz</h1></center>
      <div class="jumbotron questionBox col-lg-10 col-lg-offset-1">
        <p ng-bind-html = 'bigo.question'> </p>
      </div>
    </div>

    <div align="center" ng-bind="bigo.options"></div>
    <form ng-submit="bigo.submit()">
      <center><input type='text' ng-model="bigo.text" name='text'></input></center>
      <center><input type="submit" id='submit' value="Submit" /></center>
    </form>
    <div align="center"><pre>Your answer = {{bigo.text}}</pre></div>
  </div>>
</div>

