<div ng-controller="SignInController as sign">
    <center><h1>constcodeprep</h1></center>
    <div class="jumbotron questionBox col-lg-6 col-lg-offset-3">

      <form ng-submit="sign.submit()">
        <center><input type='text' ng-model="sign.user" name='text'></input></center>
        <center><input type='text' ng-model="sign.password" name='text'></input></center>
        <center><input type="submit" id='submit' value="Submit" /></center>
      </form>

    </div>
    <center>Or sign up</center><br>
    <center><button ui-sref="signup">Create an account</button></center>
</div>
