<div ng-controller="SignUpController as signup">
    <center><h1 class="logo">const = codeprep</h1></center>
    <div class="jumbotron col-lg-6 col-lg-offset-3">

      <form class = "form-signin" ng-submit="signup.submit()">
        <h2 class="form-signin-heading">Create a username and password below</h2>
        <label for="inputUser" class="sr-only">User Name</label>
        <input type='test' id="inputUser" class="form-control" placeholder="username" ng-model="signup.user" name='text' required autofocus></input><br>
        <label for="inputPass" class="sr-only">User Name</label>
        <input type='text' id="inputPass" class="form-control" placeholder="password" ng-model="signup.password" name='text' required></input>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
      </form>

    </div>
</div>