<div ng-controller="SignUpController as signup">
    <center><img src="../../content/logo.png"></center>

      <form class = "form-signin" ng-submit="signup.submit()">
        <h2 class="form-signin-heading">Create a new user</h2>
        <label for="inputUser" class="sr-only">User Name</label>
        <input type='test' id="inputUser" class="form-control" placeholder="username" ng-model="signup.user" name='text' required autofocus></input>
        <label for="inputPass" class="sr-only">User Name</label>
        <input type='text' id="inputPass" class="form-control" placeholder="password" ng-model="signup.password" name='text' required></input>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
      </form>


</div>